
{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>Página Principal</title>

{% endblock %}

{% block body %}

        <!--Barra superior de navegación-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Idioma
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Inglés</a></li>
                      <li><a class="dropdown-item" href="#">Español</a></li>
                      <li><a class="dropdown-item" href="#">Francés</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login">Iniciar sesión</a> <!--Lleva a la página de login-->
                  </li>
                </ul>
              </div>
            </div>
          </nav>



        <!--Logo y nombre de la aplicación-->
        <img src="/get_image/logofoto.JPG" alt="Logo Foto" class="logo">
        <img src="/get_image/logoletras.JPG" alt="TremorTrack" style="max-width: 250px; height: auto; margin: 0 10px;" >


        <!--Información para los usuarios-->
        <h1>Descubre todo lo que puedes hacer con TremorTrack:</h1>
        

        <div class="columnas">
            <div>
                <h2>Pacientes</h2>
                <p>- Realizar el seguimiento de los datos medidos por tú sensor gracias a gráficas.</p>
                <p>- Predecir con IA cómo va a ser tú evolución según tus datos hasta el momento.</p>
            </div>

            <div>
                <h2>Médicos</h2>
                <p>- Consultar los datos de todos tus pacientes.</p>
                <p>- Realizar predicciones con IA.</p>
                <p>- Subir vídeos y datos de tus pacientes.</p>
            </div>
        </div>

        
{% endblock %}