{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %}Sobre nosotros{% endtrans %}</title>

{% endblock %}

{% block body %}

  <!--Contenido de la página-->

  <h1>{% trans %}Conócenos{% endtrans %}</h1>


  <div class="container mt-4 mb-4">
    
      <div class="presentacion shadow-lg"> <!--Sombreado-->
          <div class="row no-gutters"><!--Foto y texto seguidos-->
            
              <div class="col-md-4"><!--Foto-->
                  <img src="/get_image/yo3.jpg" class="rounded-circle" style="max-width: 200px;" alt="{% trans %}Sandra{% endtrans %}">
              </div>

              <div class="col-md-8" style=" padding: 2rem;"><!--Mi info-->
                      <h3>{% trans %}¡Hola! Soy Sandra{% endtrans %}</h3>
                      <p class="card-text">{% trans %}Me presento: soy estudiante de Ingeniería Informática en la Universidad de Burgos y, junto con mi tutor Álvar Arnaiz, somos los creadores de esta aplicación web.{% endtrans %}</p>
              </div>

          </div>
      </div>

      <div class="row mt-5">
          <div class="col-md-12">
              <div class="info-adicional">
                  <p>{% trans %}Este proyecto forma parte de mi trabajo de fin de grado y espero que sea de utilidad a muchas personas.{% endtrans %}</p>
                  <p>{% trans %}Trabajamos junto con la Asociación de Parkinson de Burgos para hacer un poco más fácil la vida de las personas que sufren esta enfermedad.{% endtrans %}</p>
              </div>
          </div>
      </div>

  </div>

 
{% endblock %}
