{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>Sobre nosotros</title>

{% endblock %}

{% block body %}

        <!--Barra superior de navegación-->
        <nav class="navbar navbar-expand-md" style="font-size: 18px; background-color:#489eee40;"><!--SM contrae al hacer bastante pequeño-->
          <div class="container-fluid"> <!--Contenedor para no estar pegado a los bordes-->
            
            <a class="navbar-brand" href="/">
              <img src="/get_image/logoSinFondo.png" alt="Logo APP" style="max-width: 50px; height: auto;"> <!--Logo-->
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span><!--Tres rayas al contraerse-->
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown"> <!--Sección que se contrae-->
              
              <ul class="navbar-nav"><!--A la izq-->
                
                <li class="nav-item" style="width: 200px;"><!--Ancho-->
                  <a class="nav-link active text-primary" aria-current="page" href="" style="text-decoration: underline">Sobre nosotros</a>
                </li>
                
                <li class="nav-item" style="width: 200px;">
                  <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                
                <li class="nav-item dropdown" style="width: 200px;">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Idioma
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Inglés</a></li>
                    <li><a class="dropdown-item" href="#">Español</a></li>
                    <li><a class="dropdown-item" href="#">Francés</a></li>
                  </ul>
                </li>
              </ul>
            </div>

              <ul class="navbar-nav ms-auto"><!--A la dcha-->
                <li class="nav-item" style="width: 200px;">
                  <a class="nav-link" href="/">Página principal</a><!--Lleva a la página principal-->
                </li>
                <li class="nav-item" style="width: 200px;">
                    <a class="nav-link" href="login">Iniciar sesión</a><!--Lleva a la página de login-->
                </li>
              </ul>

          </div>
        </nav>


        <!--Contenido de la página-->
        <div class="container mt-4 mb-4">
          
           <p> Hola, me presento, soy Sandra Díaz, estudiante de Ingeniería Informática en la Universidad de Burgos, y junto con mi
            tutor Álvar Arnaiz somos los creadores de esta aplicación web.
            Este proyecto forma parte de mi trabajo de fin de grado y espero que sea de utilidad a muchas personas.
            Trabajamos junto con la Asociación de Parkinson de Burgos para hacer un poco más fácil la vida de las personas que
            sufren esta enfermedad.</p>
            

        </div>

        
{% endblock %}