{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %}Error 404 - Página no encontrada{% endtrans %}</title>

{% endblock %}



{% block body %}

<div class="container text-center mt-5">

    <h1 class="display-4">{% trans %}Error 404 - Página no encontrada{% endtrans %}</h1>

    <p class="lead">{% trans %}¡Ups! Parece que has llegado a un lugar inexplorado. Vamos a buscar un lugar mejor para ti.{% endtrans %}</p>

    <a href="/" class="btn btn-primary btn-lg">{% trans %}Ir a la página principal{% endtrans %}</a> <!--Botón que redirige a la pp-->
    
    <br><br>

    <img src="/get_image/404.png" alt="Dibujo divertido" class="img-fluid" style="max-width: 500px;">
</div>

{% endblock %}