{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>Error 404 - Página no encontrada</title>

 <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center; /* Centra el texto horizontalmente */
        }


        img {
            max-height: 50vh;  /*Tamaño maximo imagen*/
        }
    </style>

{% endblock %}


{% block body %}

    <h1>Error 404 - Página no encontrada</h1>
    <br>
    <p>¡Ups! Parece que has llegado a un lugar inexplorado. Vamos a buscar un lugar mejor para ti.</p>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('index') }}'">Acceso pacientes</button>
    
    <br>
    <br>

    <img src="https://th.bing.com/th/id/OIG.rO.ORwd7kgVZEOniEa9s?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Imagen divertida">


{% endblock %}