{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %} Datos paciente {% endtrans %}</title>
    <style>
        h1 {color: rgb(72, 158, 238); text-align: center; } /* Color del titilo */
    </style>

{% endblock %}

{% block body %}

   <h1> Acceso a datos del sensor </h1>
   <h2> Datos de {{username}} con contraseña {{contraseña}}.... </h2> +<!--Paso de variables-->
   
   
   <img src="{{paciente.foto}}" alt="Imagen del médico">

   <table border="1">
    <tr>
        <th>EPO</th>
        <th>W_MEAN</th>
        <th>W_MEAN_FILT</th>
        <th>W_STD</th>
        <th>NUM_WALK</th>
        <th>SMA</th>
        <th>DYSKP</th>
        <th>DYSKC</th>
        <th>LEN</th>
        <th>NUM_STEPS</th>
        <th>SPEED</th>
        <th>CAD</th>
        <th>TW</th>
        <th>TL</th>
        <th>TRANS</th>
        <th>FOG_EP</th>
        <th>FOG_WIN</th>
        <th>BTN_PRESSED</th>
        <th>MOTOR10</th>
        <th>DYSK10</th>
        <th>BRADY10</th>
        <th>TH_LO</th>
        <th>TH_HI</th>
        <th>AGE</th>
        <th>H&Y</th>
        <th>LL</th>
        <th>PAT</th>

    
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
        <td>{{ row[8] }}</td>
        <td>{{ row[9] }}</td>
        <td>{{ row[10] }}</td>
        <td>{{ row[11] }}</td>
        <td>{{ row[12] }}</td>
        <td>{{ row[13] }}</td>
        <td>{{ row[14] }}</td>
        <td>{{ row[15] }}</td>
        <td>{{ row[16] }}</td>
        <td>{{ row[17] }}</td>
        <td>{{ row[18] }}</td>
        <td>{{ row[19] }}</td>
        <td>{{ row[20] }}</td>
        <td>{{ row[21] }}</td>
        <td>{{ row[22] }}</td>
        <td>{{ row[23] }}</td>
        <td>{{ row[24] }}</td>
        <td>{{ row[25] }}</td>
        <td>{{ row[26] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
