{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %}Bienvenido{% endtrans %}</title>

{% endblock %}



{% block body %}

    <!--Contenido de la página-->
    <div class="container mt-4 mb-4">

        <!--Migas de pan-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Página Principal</a></li>
                <li class="breadcrumb-item"><a href="/login">Inicio de Sesión</a></li>
                <li aria-current="page" class="breadcrumb-item active">Bienvenido</li>
            </ol>
        </nav>

        <div class="row justify-content-center">

            <!-- Título de bienvenida + nombre paciente-->
            <h1>{% trans %}Bienvenido de nuevo {% endtrans %}{{usuario.nombre}}</h1>
        
            <!--Tarjeta del perfil-->
            <div class="row border rounded shadow-lg p-3 mb-5 bg-white rounded align-items-center" style="max-width: 600px;"> <!--Columnas responsivas de Bootstrap-->
                <div class="col-md-4 text-center"> <!--Perfil del usuario (con foto, username y cerrar sesión)-->
                    <img src="{{usuario.foto}}" alt="Imagen del paciente" class="img-fluid rounded-circle mb-3 logo">
                    <h2>{{ usuario.nombre_de_usuario }}</h2>
                    <a href="/logout" class="btn btn-cancelar">{% trans %}Cerrar sesión{% endtrans %}</a>
                </div>
        
                <div class="col-md-8"><!--Informacion del perfil-->
                    <p>{% trans %} Nombre completo: {% endtrans %} {{ usuario.nombre }} {{ usuario.apellido }}</p>
                    <p>{% trans %} Médico asignado: {% endtrans %} {{ medico.nombre }}</p>
                    <p>{% trans %} Sensor: {% endtrans %} {{ usuario.sensor }}</p>
                    <p>{% trans %} Lateralidad: {% endtrans %} {{ usuario.lateralidad }}</p>
                    <p>{% trans %} Fecha de nacimiento: {% endtrans %} {{ usuario.fecha_de_nacimiento }}</p>
                    <p>{% trans %} Dirección: {% endtrans %} {{ usuario.direccion }}</p>
                    <p>{% trans %} Teléfono: {% endtrans %} {{ usuario.telefono }}</p>
                </div>
            </div>

            <!--Acciones del paciente-->
            <div class="col-md-8 mb-4">
                <!-- Botón para editar los datos personales -->
                <button class="btn btn-primary btn-lg mostrar-editables" data-id="{{ usuario.id_paciente }}">{% trans %} Editar datos personales {% endtrans %}</button>
                        <div class="datos-editables" style="display: none;"> <!--Datos invisibles-->
                            <form id="formulario-datos-editables" style="margin-bottom: 40px;"><!--Muestra los datos y permite cambiarlos-->
                                <input type="hidden" name="id_paciente" value="{{ usuario.id_paciente }}"><!--Para identificar qué paciente es en la funcion-->
                                
                                <label for="fecha_de_nacimientoP">{% trans %} Fecha de nacimiento: {% endtrans %}</label>
                                <input type="date" id="fecha_de_nacimientoP" name="fecha_de_nacimientoP" value="{{ usuario.fecha_de_nacimiento }}"><br>
                            
                                <label for="direccionP">{% trans %} Dirección: {% endtrans %}</label>
                                <input type="text" id="direccionP" name="direccionP" value="{{ usuario.direccion }}"><br>
                            
                                <label for="telefonoP">{% trans %} Teléfono: {% endtrans %}</label>
                                <input type="text" id="telefonoP" name="telefonoP" value="{{ usuario.telefono }}"><br>
                                
                                <button type="submit" class="boton-guardar" style="padding: 10px 20px; background-color: #2fa94c;">{% trans %} Guardar cambios {% endtrans %}</button>
                                <button type="button" class="btn-cancelar boton-cancelarCambios">{% trans %} Cancelar {% endtrans %}</button>
                            </form>
                        </div>

                <!--Boton de revisar mi evolucion para ir a una ventana con las gráficas -->
                <a href="/mostrarDatosSensor/{{ usuario.id_paciente }}" class="btn btn-primary btn-lg">{% trans %}Revisar mi evolución{% endtrans %}</a>

                <!--Boton de mostrar videos para ir a una ventana con los videos -->
                <a href="/mostrarVideos/{{ usuario.id_paciente }}" class="btn btn-primary btn-lg">{% trans %} Mostrar vídeos {% endtrans %}</a>

            </div>
        </div>
    </div>

    <!-- Bootstrap-table filter -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script>

        $(document).ready(function(){
            $(".mostrar-editables").click(function(){
                var pacienteId = $(this).data("id");
                $(this).next(".datos-editables").toggle(); //Muestra el formulario
            });
        });


        //----------------------------------------------------------------
        //Cuando se pulsa el botón de guardar cambios al editar los datos de 
        //los pacientes se llama a la función que actualiza esos datos en la 
        //base de datos y dependiendo del resultado se alerta al usuario
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.boton-guardar').forEach(function(boton) {
                boton.addEventListener('click', function(event) {
                    event.preventDefault();
                    
                    //Encuentra el formulario asociado a este botón
                    const formulario = boton.closest('form');
                    const formData = new FormData(formulario);

                    //Validar los datos
                    if (!validarDatos(formData)) {
                        return; //Detener el envío del formulario
                    }

                    fetch('/actualizar_datos_personales', {
                        method: 'POST',
                        body: formData //Lo mandamos por aqui
                    })
                    .then(response => {
                        if (response.ok) {
                            alert('Los datos se han actualizado correctamente'); //Bien
                            location.reload(); //Recargar la página
                        } else {
                            alert('Error al editar los datos');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error al editar los datos');
                    });
                });
            });
            //Si decide cancelar los cambios, limpia el form
            document.querySelectorAll('.boton-cancelarCambios').forEach(function(botonCancelar) {
                botonCancelar.addEventListener('click', function(event) {
                    const formulario = event.target.closest('form');
                    formulario.reset(); //Restaurar valores originales
                });
            });
        });
        //----------------------------------------------------------------

        //Función para validar los datos del formulario (número de 9 cifras, fecha de nacimiento razonable, dirección normal)
        function validarDatos(formData) {
            //Validar teléfono
            var telefono = formData.get("telefonoP");
            var telefonoRegex = /^[0-9]{9}$/; //RE para 9 números
            if (!telefonoRegex.test(telefono)) { //Si no tiene 9 números mostramos error y cancelamos form
                alert("El teléfono debe contener exactamente 9 números.");
                return false;
            }



            //Validar fecha de nacimiento
            var fechaNacimiento = formData.get("fecha_de_nacimientoP");
            //Convertir a Date
            var fechaNacimientoDate = new Date(fechaNacimiento);

            //Como mínimo debe tener 18 años y como máximo 100
            var fechaActual = new Date();
            var fechaMinima = new Date(fechaActual);
            fechaMinima.setFullYear(fechaMinima.getFullYear() - 100); //100 años
            var fechaMaxima = new Date(fechaActual);
            fechaMaxima.setFullYear(fechaMaxima.getFullYear() - 18); //18 años

            //Si la fecha no está en el rango permitido, error y cancelamos form
            if (fechaNacimientoDate < fechaMinima || fechaNacimientoDate > fechaMaxima) {
                alert("La fecha de nacimiento debe estar entre " + fechaMaxima.getFullYear() + " y " + fechaMinima.getFullYear() + ".");
                return false;
            }



            //Validar direccion
            var direccion = formData.get("direccionP");
            if (direccion.length > 100) {
                alert("La dirección es demasiado larga.");
                return false; //Demasiado larga
            }
            //Si tiene caracteres que no son propios de una direccion, error y cancelamos form
            var direccionRegex = /^[A-Za-z0-9áéíóúÁÉÍÓÚ.,ºª\-# ]+$/;
            if (!direccionRegex.test(direccion)) {
                alert("La dirección tiene caracteres no permitidos.");
                return false;
            }


            
            //Si todo está bien
            return true;
        }

    </script>


{% endblock %}