{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>Bienvenido</title>

{% endblock %}



{% block body %}

    <h1> Bienvenido Paciente </h1>
    <h2> Hola {{paciente.nombre}} </h2> 
        

    <!--Boton de revisar mi evolucion para ir a una ventana con las gráficas -->
    <a href="/mostrarDatosSensor/{{ paciente.id_paciente }}" class="btn btn-primary btn-lg">{% trans %}Revisar mi evolución{% endtrans %}</a>
 

    <!--Tabla con sus datos personales y foto. Y botón de cerrar sesion -->
    <h1>{% trans %} Información del perfil {% endtrans %}</h1>

    <div class="row">
        <!-- Columna 1 -->
        <div class="col-md-6">
            <div class="datos-personales">
                <p>{% trans %} Nombre completo: {% endtrans %} {{ paciente.nombre }} {{ paciente.apellido }}</p>
                <p>{% trans %} Médico asignado: {% endtrans %} {{ medico.nombre }}</p>
                <p>{% trans %} Sensor: {% endtrans %} {{ paciente.sensor }}</p>
                <p>{% trans %} Fecha de nacimiento: {% endtrans %} {{ paciente.fecha_de_nacimiento }}</p>
                <p>{% trans %} Dirección: {% endtrans %} {{ paciente.direccion }}</p>
                <p>{% trans %} Teléfono: {% endtrans %} {{ paciente.telefono }}</p>
            </div>
            <!-- Botón para editar los datos personales -->
            <a href="/editarDatosPaciente/{{ paciente.id }}" class="btn btn-info">{% trans %}Editar datos personales{% endtrans %}</a>

        </div>
        <!-- Columna 2 -->
        <div class="col-md-6">
            <!-- Foto del paciente -->
            <img src="{{paciente.foto}}" alt="Imagen del paciente" class="logo">
            
            <!-- Botón para cerrar sesión -->
            <a href="/logout" class="btn btn-danger btn-lg mt-3">{% trans %}Cerrar sesión{% endtrans %}</a>
        </div>
    </div>




{% endblock %}