{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %} Bienvenido {% endtrans %}</title>

{% endblock %}



{% block body %}

    <!--Contenido de la página-->
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">

            <!-- Título de bienvenida + nombre médico-->
            <h1>{% trans %}Bienvenido de nuevo {% endtrans %}{{usuario.nombre}}</h1>
        
            <div class="col-md-8 text-center border p-4 mb-4"> <!--Perfil del usuario (con foto, username y cerrar sesión)-->
                <img src="{{usuario.foto}}" alt="Imagen del médico" class="img-fluid rounded-circle mb-3 logo">
                <h2>{{ usuario.nombre_de_usuario }}</h2>
                <a href="/logout" class="btn btn-danger btn-lg mr-2">{% trans %}Cerrar sesión{% endtrans %}</a>
            </div>

            <div class="col-md-8 text-center mb-4">  <!--Acciones del médico-->
                <!-- Botón para ir al listado de pacientes -->
                <a href="{{ url_for('listadoPacientes') }}" class="btn btn-primary btn-lg">{% trans %}Mostrar listado pacientes{% endtrans %}</a>

            </div>
        </div>
    </div>
    
{% endblock %}