{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %}Listado pacientes{% endtrans %}</title>

{% endblock %}



{% block body %}

    <!--Contenido de la página-->
    <div class="container mt-4 mb-4">

        <h1>{% trans %} Listado pacientes {% endtrans %}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}ID{% endtrans %}</th>
                    <th>{% trans %}Nombre{% endtrans %}</th>
                    <th>{% trans %}Foto{% endtrans %}</th>
                    <th>{% trans %}Acciones{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.id_paciente }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td><img src="{{ paciente.foto }}" alt="Foto del paciente" style="max-width: 100px;"></td>
                    <td>
                        <button class="btn btn-info mostrar-info" data-id="{{ paciente.id_paciente }}">{% trans %} Información personal {% endtrans %}</button>
                        <div class="datos-personales" style="display: none;"> <!--Datos invisibles-->
                            <form id="formulario-datos-personales"><!--Muestra los datos y permite cambiarlos-->
                                <input type="hidden" name="id_paciente" value="{{ paciente.id_paciente }}"><!--Para identificar qué paciente es en la funcion-->
                                
                                <label for="fecha_de_nacimientoP">{% trans %} Fecha de nacimiento: {% endtrans %}</label>
                                <input type="date" id="fecha_de_nacimientoP" name="fecha_de_nacimientoP" value="{{ paciente.fecha_de_nacimiento }}"><br>
                            
                                <label for="direccionP">{% trans %} Dirección: {% endtrans %}</label>
                                <input type="text" id="direccionP" name="direccionP" value="{{ paciente.direccion }}"><br>
                            
                                <label for="telefonoP">{% trans %} Teléfono: {% endtrans %}</label>
                                <input type="text" id="telefonoP" name="telefonoP" value="{{ paciente.telefono }}"><br>
                                
                                <button type="submit" class="btn btn-primary boton-guardar">{% trans %} Guardar cambios {% endtrans %}</button>
                            </form>
                        </div>


                        <button class="btn btn-primary subir-videos">{% trans %} Subir vídeo {% endtrans %}</button>
                        <div class="formulario-videos" style="display: none;"> <!--Formulario invisible-->
                            <form action="/subirVideo/{{ paciente.id_paciente }}" method="post" enctype="multipart/form-data">
                                <input type="file" name="archivo_video" accept="video/*" required>
                                <label for="fecha_video">{% trans %} Fecha del vídeo: {% endtrans %}</label>
                                <input type="date" id="fecha_video" name="fecha_video" required>
                                <label for="mano">{% trans %} Mano dominante: {% endtrans %}</label>
                                <select id="mano" name="mano" required>
                                    <option value="">{% trans %} Seleccionar {% endtrans %}</option>
                                    <option value="derecha">{% trans %} Derecha {% endtrans %}</option>
                                    <option value="izquierda">{% trans %} Izquierda {% endtrans %}</option>
                                </select>
                                <label for="lentitud">{% trans %} Lentitud: {% endtrans %}</label>
                                <select id="lentitud" name="lentitud" required>
                                    <option value="">{% trans %} Seleccionar {% endtrans %}</option>
                                    <option value="0">{% trans %} 0 {% endtrans %}</option>
                                    <option value="1">{% trans %} 1 {% endtrans %}</option>
                                    <option value="2">{% trans %} 2 {% endtrans %}</option>
                                    <option value="3">{% trans %} 3 {% endtrans %}</option>
                                    <option value="4">{% trans %} 4 {% endtrans %}</option>
                                </select>
                                <label for="amplitud">{% trans %} Amplitud: {% endtrans %}</label>
                                <select id="amplitud" name="amplitud" required>
                                    <option value="">{% trans %} Seleccionar {% endtrans %}</option>
                                    <option value="0">{% trans %} 0 {% endtrans %}</option>
                                    <option value="1">{% trans %} 1 {% endtrans %}</option>
                                    <option value="2">{% trans %} 2 {% endtrans %}</option>
                                    <option value="3">{% trans %} 3 {% endtrans %}</option>
                                    <option value="4">{% trans %} 4 {% endtrans %}</option>
                                </select>

                                <button type="submit" class="btn btn-primary mt-2">{% trans %} Subir vídeo {% endtrans %}</button>
                            </form>
                        </div>
                        
                        <a href="/mostrarVideos/{{ paciente.id_paciente }}" class="btn btn-secondary">{% trans %} Mostrar vídeos {% endtrans %}</a>


                        <button class="btn btn-success subir-datos">{% trans %} Subir datos sensor {% endtrans %}</button>
                        <div class="formulario-datos" style="display: none;"><!--Formulario invisible-->
                            <form action="/subirDatosSensor/{{ paciente.id_paciente }}" method="post" enctype="multipart/form-data">
                                <input type="file" name="archivo_sensor" accept=".csv" required> <!--Primer filtrado para el cliente-->
                                <button type="submit" class="btn btn-primary mt-2">{% trans %} Subir archivo CSV {% endtrans %}</button>
                            </form>
                        </div>


                        <a href="/mostrarDatosSensor/{{ paciente.id_paciente }}" class="btn btn-secondary">{% trans %} Mostrar datos sensor {% endtrans %}</a>

                    </td>

                {% endfor %}
            </tbody>
        </table>     
   
    </div>

    <!-- Bootstrap-table filter -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".mostrar-info").click(function(){
                var pacienteId = $(this).data("id");
                $(this).next(".datos-personales").toggle();//Muestra más datos
            });

            $(".subir-videos").click(function(){
                $(this).next(".formulario-videos").toggle(); //Muestra el formulario para subir videos
            });

            $(".subir-datos").click(function(){
                $(this).next(".formulario-datos").toggle(); //Muestra el formulario para subir csv
            });
        });

        
        //----------------------------------------------------------------
        //Cuando se pulsa el botón de guardar cambios al editar los datos de 
        //los pacientes se llama a la función que actualiza esos datos en la 
        //base de datos y dependiendo del resultado se alerta al usuario
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.boton-guardar').forEach(function(boton) {
                boton.addEventListener('click', function(event) {
                    event.preventDefault();

                    // Encuentra el formulario asociado a este botón
                    const formulario = boton.closest('form');
                    const formData = new FormData(formulario);

                    fetch('/actualizar_datos_personales', {
                        method: 'POST',
                        body: formData //Lo mandamos por aqui
                    })
                    .then(response => {
                        if (response.ok) {
                            alert('Paciente editado correctamente'); //Bien
                            location.reload(); //Recargar la página
                        } else {
                            alert('Error al editar el paciente');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error al editar el paciente');
                    });
                });
            });
        });
        //----------------------------------------------------------------
    </script>


{% endblock %}