{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %}Login{% endtrans %}</title>

{% endblock %}



{% block body %}
<!--Contenido de la página-->
<div class="container mt-4 mb-4">
        
  <!--Nombre de la aplicación-->
  <img src="/get_image/logoletras.JPG" alt="{% trans %}TremorTrack{% endtrans %}" style="max-width: 250px; height: auto; margin: 0 10px;">


  <h1>{% trans %}Inicie sesión{% endtrans %}</h1>


  <!--Datos de prueba (BORRAR)--->
  <p class="prueba"><b>{% trans %}Datos de Administrador{% endtrans %}</b>
      <br>{% trans %}Nombre de Usuario{% endtrans %}: sandradiaz
      <br>{% trans %}Contraseña{% endtrans %}: 1234</p>
  
  <p class="prueba"><b>{% trans %}Datos de Médico{% endtrans %}</b>
      <br>{% trans %}Nombre de Usuario{% endtrans %}: josefelix
      <br>{% trans %}Contraseña{% endtrans %}: 1234</p>
  
  <p class="prueba"><b>{% trans %}Datos de Paciente{% endtrans %}</b>
      <br>{% trans %}Nombre de Usuario{% endtrans %}: pepeaguilar
      <br>{% trans %}Contraseña{% endtrans %}: 1234</p>



  <!--Formulario de inicio de sesión, randerizando de form.py-->
  {% from "camposform.html" import render_field %}

  <form action="/login" method="post" >

    <!-- Casilla para el nombre -->
    {{ render_field(form.username, class='form-control', placeholder=_('Ingresa tu nombre de usuario')) }}
    <!-- Para mostrar mensajes de error -->
    {% for error in form.username.errors %}
        <p class="help-block text-danger">{{ error }}</p>
    {% endfor %}

    <!-- Casilla para la contraseña -->
    {{ render_field(form.contraseña, type='password', class='form-control', placeholder=_('Ingresa tu contraseña')) }}
    {% for error in form.contraseña.errors %}
        <p class="help-block text-danger">{{ error }}</p>
    {% endfor %}

    <br>
    
    <!-- Mostrar mensajes de error -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}

    <button type="submit">{% trans %}Enviar{% endtrans %}</button>


 
  </form>
  <br>

</div>

{% endblock %}
