{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %} Vídeos Paciente {% endtrans %}</title>

    <style>
        /*Estilo para botón "eliminar vídeo"*/
        .btn-eliminar {
            background-color: red;
        }.btn-eliminar:hover {background-color: rgb(141, 2, 2) }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}



{% block body %}
<!--Contenido de la página-->
<div class="container mt-4 mb-4">

    <!--Migas de pan-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Página Principal</a></li>
            <li class="breadcrumb-item"><a href="/login">Inicio de Sesión</a></li>
            {% if es_admin %}
                <li class="breadcrumb-item"><a href="/BienvenidaAdmin">Bienvenido</a></li>
                <li class="breadcrumb-item"><a href="/gestionUsuarios">Gestión de Usuarios</a></li>
            {% elif es_medico %}
                <li class="breadcrumb-item"><a href="/BienvenidaMedico">Bienvenido</a></li>
                <li class="breadcrumb-item"><a href="/listadoPacientes">Listado de Pacientes</a></li>
            {% elif es_paciente %}
                <li class="breadcrumb-item"><a href="/BienvenidaPaciente">Bienvenido</a></li>  
            {% endif %}
            <li aria-current="page" class="breadcrumb-item active">Mostrar Vídeos</li>
        </ol>
    </nav>


    <!--Paciente-->
    <h1> <img src="{{bbddpaciente.foto}}" alt="Imagen del paciente" class="logo"> {% trans %}  Vídeos paciente:  {% endtrans %}  {{bbddpaciente.nombre}} {{bbddpaciente.apellido}}</h1>
    
    {% if videos %}
        <!--Por cada video del paciente mostramos su info y permitimos su reproducción-->
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Título{% endtrans %}</th>
                    <th>{% trans %}Mano dominante{% endtrans %}</th>
                    <th>{% trans %}Fecha{% endtrans %}</th>
                    <th>{% trans %}Reproducir{% endtrans %}</th>
                    <th>{% trans %}Eliminar{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                    <!--Info del vídeo-->
                    <td>{{ video.contenido }}</td>
                    <td>{{ video.mano_dominante }}</td>
                    <td>{{ video.fecha }}</td>

                    <!--Reproducir vídeo-->
                    <td>
                        <!--Vídeo (se muestra al pulsar el botón)-->
                        <button type="button" class="reproducir">{% trans %} Reproducir vídeo {% endtrans %}</button>
                        <button type="button" class="ocultar" style="display: none;">{% trans %} Ocultar vídeo {% endtrans %}</button>                        
                        <div class="video" style="display: none;">
                            <video controls width="320">
                                <source src="/get_video/{{ bbddpaciente.id_paciente }}/{{ video.contenido }}" type="video/mp4">
                            </video>
                        </div>
                    </td>
                                            
                    <!-- Características del vídeo
                        <button type="button" class="mostrarCaracteristicas">{% trans %} Características {% endtrans %}</button>
                        <div class="caracteristicas" style="display: none;">
                            <p><strong> {% trans %} Lentitud: {% endtrans %} </strong> {{ video.lentitud }}</p>
                            <p><strong> {% trans %} Amplitud: {% endtrans %} </strong> {{ video.amplitud }}</p>
                            <p><strong> {% trans %} Velocidad media: {% endtrans %} </strong> {{ video.velocidad_media }}</p>
                            <p><strong> {% trans %} Frecuencia de máximos: {% endtrans %} </strong> {{ video.frecuencia_max }}</p>
                            <p><strong> {% trans %} Frecuencia de mínimos: {% endtrans %} </strong> {{ video.frecuencia_min }}</p>
                            <p><strong> {% trans %} Promedio de máximos: {% endtrans %} </strong> {{ video.promedio_max }}</p>
                            <p><strong> {% trans %} Desviación estándar de máximos: {% endtrans %} </strong> {{ video.desv_estandar_max }}</p>
                            <p><strong> {% trans %} Diferencia ranurada de la frecuencia de mínimos: {% endtrans %} </strong> {{ video.diferencia_ranurada_min }}</p>
                            <p><strong> {% trans %} Diferencia ranurada de la frecuencia de máximos: {% endtrans %} </strong> {{ video.diferencia_ranurada_max }}</p>
                        </div> -->


                    <!--Eliminar vídeo-->
                    <td>
                        <button type="button" class="btn-eliminar" onclick="eliminarVideo('{{ video.id_video }}')">{% trans %} Eliminar vídeo {% endtrans %}</button>
                    </td>

                {% endfor %}
            </tbody>
        </table> 
        
        <!--Gráfico con las características-->
        <h2 style="margin-top: 50px;">{% trans %}  Gráfico con las características de los vídeos  {% endtrans %} </h2>
        <div style="display: flex; justify-content: center; height: 60vh; ">
            <canvas id="grafico"></canvas>
        </div>


        <!-- Script para generar el gráfico -->
        <script>
            //Videos a JavaScript
            const datosVideos = JSON.parse('{{ datosVideos | tojson | safe }}');

            //Arrays para cada característica
            const lentitudData = [];
            const amplitudData = [];
            const velocidadMediaData = [];
            const frecuenciaMaxData = [];
            const frecuenciaMinData = [];
            const promedioMaxData = [];
            const desvEstandarMaxData = [];
            const diferenciaRanuradaMinData = [];
            const diferenciaRanuradaMaxData = [];
            
            //Array para las fechas
            const fechas = [];

            //Meter las características de cada vídeo en su array correspondiente
            datosVideos.forEach(video => {
                lentitudData.push(video.lentitud);
                amplitudData.push(video.amplitud);
                velocidadMediaData.push(video.velocidad_media);
                frecuenciaMaxData.push(video.frecuencia_max);
                frecuenciaMinData.push(video.frecuencia_min);
                promedioMaxData.push(video.promedio_max);
                desvEstandarMaxData.push(video.desv_estandar_max);
                diferenciaRanuradaMinData.push(video.diferencia_ranurada_min);
                diferenciaRanuradaMaxData.push(video.diferencia_ranurada_max);

                const fechaFormateada = new Date(video.fecha).toLocaleDateString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit' });
                fechas.push(fechaFormateada);
            });

            //Especificar el título y el color de cada Dataset
            const datasets = [
            {   
                label: 'Lentitud',
                data: lentitudData,
                borderColor: 'rgba(255, 99, 132, 1)',    },
            {
                label: 'Amplitud',
                data: amplitudData,
                borderColor: 'rgba(54, 162, 235, 1)',    },
            {
                label: 'Velocidad Media',
                data: velocidadMediaData,
                borderColor: 'rgba(255, 205, 86, 1)',    },
            {
                label: 'Frecuencia de Máximos',
                data: frecuenciaMaxData,
                borderColor: 'rgba(75, 192, 192, 1)',    },
            {
                label: 'Frecuencia de Mínimos',
                data: frecuenciaMinData,
                borderColor: 'rgba(153, 102, 255, 1)',   },
            {
                label: 'Promedio de Máximos',
                data: promedioMaxData,
                borderColor: 'rgba(255, 159, 64, 1)',    },
            {
                label: 'Desviación Estándar de Máximos',
                data: desvEstandarMaxData,
                borderColor: 'rgba(255, 192, 203, 1)',   },
            {
                label: 'Diferencia Ranurada de la Frecuencia de Mínimos',
                data: diferenciaRanuradaMinData,
                borderColor: 'rgba(0, 0, 0, 1)',         },
            {
                label: 'Diferencia Ranurada de la Frecuencia de Máximos',
                data: diferenciaRanuradaMaxData,
                borderColor: 'rgba(128, 64, 0, 1)',      }
            ];

            //prueba
            console.log(datasets);




            //Ubicacion del gráfico
            const ctx = document.getElementById('grafico').getContext('2d');

            //Crear gráfico con Chart.js
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: datasets
                },
                options: {
                    scales: {
                        y: { //Eje Y siempre del 0 al 4
                            min: -1,
                            max: 6
                        },
                        x: { //Eje X para las fechas
                            title: {
                                display: true,
                                text: 'Fechas de los vídeos'
                            }
                        }
                    }
                }
            });
        </script>



    <!--Si ese paciente no tiene videos-->
    {% else %}
    <p>{% trans %} No hay vídeos disponibles para mostrar. {% endtrans %}</p>
    {% endif %}


    <!--Predicciones-->    
    <h2 style="margin-top: 50px;">{% trans %}  Predicciones del avance de la enfermedad {% endtrans %} </h2>
    <button type="button" class="predecirLentitud" onclick="predecir('lentitud', '{{bbddpaciente.id_paciente}}')">{% trans %} Predecir Lentitud {% endtrans %}</button>
    <button type="button" class="predecirAmplitud" onclick="predecir('amplitud', '{{bbddpaciente.id_paciente}}')">{% trans %} Predecir Amplitud {% endtrans %}</button>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    //Cuando le den al botón de reproducir se mostrará el vídeo
    document.querySelectorAll('.reproducir').forEach(botonReproducir => {
        botonReproducir.addEventListener('click', function() {
            const contenedorVideo = this.parentElement.querySelector('.video');
            const botonOcultar = this.parentElement.querySelector('.ocultar');
            
            //Mostrar el vídeo y el botón "Ocultar vídeo"
            contenedorVideo.style.display = 'block';
            botonOcultar.style.display = 'block';
            
            //Ocultar el botón "Reproducir vídeo"
            this.style.display = 'none';
        });
    });

    //Cuando le den al botón de ocultar se ocultará
    document.querySelectorAll('.ocultar').forEach(botonOcultar => {
        botonOcultar.addEventListener('click', function() {
            const contenedorVideo = this.parentElement.querySelector('.video');
            const video = contenedorVideo.querySelector('video');
            const botonReproducir = this.parentElement.querySelector('.reproducir');
            
            //Pausar y ocultar el vídeo
            video.pause();
            contenedorVideo.style.display = 'none';
            
            //Ocultar el botón "Ocultar vídeo"
            this.style.display = 'none';
            //Mostrar el botón "Reproducir vídeo"
            botonReproducir.style.display = 'block';
        });
    });

    // //Cuando le den al botón de mostrar características se mostrarán
    // document.querySelectorAll('.mostrarCaracteristicas').forEach(botonCaracteristicas => {
    //     botonCaracteristicas.addEventListener('click', function() {
    //         const caracteristicas = this.parentElement.querySelector('.caracteristicas');
            
    //         //Si estaba oculto, lo pone visible y viceversa
    //         if (caracteristicas.style.display === 'none') {
    //             caracteristicas.style.display = 'block';
    //         } else {
    //             caracteristicas.style.display = 'none';
    //         }
    //     });
    // });

    //Cuando le den al botón de eliminar vídeo de la bbdd
    function eliminarVideo(id_video) {
        if (confirm('{% trans %}¿Estás seguro de que deseas eliminar este vídeo?{% endtrans %}')) {
            fetch('/eliminarVideo', {
                method: 'POST',
                headers: {'Content-Type': 'application/json' },
                body: JSON.stringify({ id_video: id_video })
            })
            .then(response => {
                if (response.ok) {
                    //Funcionó
                    alert('{% trans %} Vídeo eliminado con éxito {% endtrans %}');
                    //Recargar la página
                    setTimeout(function(){ location.reload(); }, 1000);
                } else {
                    alert('{% trans %} Error al eliminar el vídeo {% endtrans %}');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('{% trans %} Error al eliminar el vídeo {% endtrans %}');
            });
        }
    }

    //Cuando le den a los botones de las predicciones
    function predecir(tipo, id_paciente) {
        $.ajax({
            url: "/predecirVideo",
            type: "POST",
            data: { tipo: tipo, id_paciente: id_paciente },
            success: function(response) {
                //bien
            },
            error: function(xhr, status, error) {
                //mal
            }
        });
    }



</script>



{% endblock %}
