{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %} Datos sensor {% endtrans %}</title>

    <!--Biblioteca para los gráficos-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}



{% block body %}
    
    <!--Paciente-->
    <h1> <img src="{{bbddpaciente.foto}}" alt="Imagen del paciente" class="logo">  Paciente: {{bbddpaciente.nombre}} {{bbddpaciente.apellido}} (id: {{bbddpaciente.id_paciente}})</h1>
    

    <!--Formulario para saber qué gráfica mostrar-->
    <form id="formulario" action="" method="post">
        <label for="seleccionGrafico">{% trans %} Selecciona la gráfica a mostrar: {% endtrans %}</label>
        <select id="seleccionGrafico" name="seleccionGrafico" required>
            <option value="">{% trans %} Seleccionar {% endtrans %}</option>

            <option value="1">{% trans %} Parámetros de Bradicinesia {% endtrans %}</option>
           
            <option value="2">{% trans %} Parámetros de FoG y Discinesia {% endtrans %}</option>
            
            <option value="3">{% trans %} Información de los pasos {% endtrans %}</option>
            
            <option value="4">{% trans %} Parámetros de Estado Motor, Discinesia y Bradicinesia a 10 min {% endtrans %}</option>
        </select>

        <label for="fecha_desde">{% trans %} Selecciona fecha de inicio: {% endtrans %}</label>
        <input type="date" id="fecha_desde" name="fecha_desde" required>

        <label for="fecha_hasta">{% trans %} Selecciona fecha de fin: {% endtrans %}</label>
        <input type="date" id="fecha_hasta" name="fecha_hasta" required>

        <button type="submit" class="btn btn-primary mt-2">{% trans %} Mostrar datos {% endtrans %}</button>
    </form>

    <!--Gráfica usando chart-->
    <div id="contenedorGrafico" style="width: 800px; height: 400px; margin: 0 auto;">
        <canvas id="gráfico"></canvas>
    </div>


    <script>
        //Listener que muestra el gráfico cuando se da a "Mostrar datos"
        document.getElementById('formulario').addEventListener('submit', function(event) { 
            mostrarGrafico();
        });


        function mostrarGrafico() {

            //Matplotlib deberia hacerlo solo usando la funcion plot3Axis en app.py pero no funciona 
            //Esto por ahora es un gráfico de prueba con datos aleatorios


            var seleccion = document.getElementById('seleccionGrafico').value;
            var titulo = ''; //Título del gráfico dependiendo de la opcion seleccionada
            switch (seleccion) {//MAL
                case '1':
                    titulo = 'Número de pasos detectados'; break;
                case '2':
                    titulo = 'Longitud de pasos del paciente'; break;
                case '3':
                    titulo = 'Velocidad de zancada'; break;
                case '4':
                    titulo = 'Transiciones posturales'; break;
                case '5':
                    titulo = 'Episodios de bloqueos de la marcha'; break;
                default:
                    titulo = '';
            }
            var ctx = document.getElementById('gráfico').getContext('2d');


            var gráfico = new Chart(ctx, {
                type: 'line',
                
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'], //labels,
                    datasets: [{
                        label: titulo,
                        data: [65, 59, 80, 81, 56, 55, 40], //data,
                        borderColor: 'rgba(72, 158, 238, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: { y: { beginAtZero: true}}
                }
            });

            //Mostrar el contenedor del gráfico
            document.getElementById('contenedorGrafico').style.display = 'block';
        }
    </script>

{% endblock %}