{% extends "layout.html" %} <!--Herencia de layout-->

{% block head %}

    <title>{% trans %} Vídeos Paciente {% endtrans %}</title>

{% endblock %}



{% block body %}
<!--Contenido de la página-->
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">

        <!--Paciente-->
        <h1> <img src="{{bbddpaciente.foto}}" alt="Imagen del paciente" class="logo"> {% trans %}  Vídeos paciente:  {% endtrans %}  {{bbddpaciente.nombre}} {{bbddpaciente.apellido}}</h1>
        
        <!--Vídeos-->
        <div>
            {% if videos %}
                <!--Por cada video del paciente mostramos su info y permitimos su reproducción-->
                {% for video in videos %}
                    <div class="presentacion"> <!--Tarjetas individuales-->
                        <!--Info del vídeo-->
                        <p> <strong> {% trans %} Título del vídeo: {% endtrans %} </strong> {{ video.contenido }}</p>
                        <p> <strong> {% trans %} Mano dominante: {% endtrans %} </strong> {{ video.mano_dominante }}</p>
                        <p> <strong> {% trans %} Fecha: {% endtrans %} </strong> {{ video.fecha }}</p>

                        <!--Vídeo en cuestión (se muestra al pulsar el botón)-->
                        <div class="video" style="display: none;">
                            <video controls width="320">
                                <source src="/get_video/{{ bbddpaciente.id_paciente }}/{{ video.contenido }}" type="video/mp4">
                                {% trans %} Tu navegador no soporta la etiqueta de vídeo. {% endtrans %}
                            </video>
                            <br>
                            <button type="button" class="ocultar">{% trans %} Ocultar vídeo {% endtrans %}</button>
                        </div>
                        <button type="button" class="reproducir">{% trans %} Reproducir vídeo {% endtrans %}</button>
                        
                        <!--Características del vídeo-->
                        <button type="button" class="mostrarCaracteristicas">{% trans %} Características {% endtrans %}</button>
                        <div class="caracteristicas" style="display: none;">
                            <p> <strong> {% trans %} Lentitud: {% endtrans %} </strong> {{ video.lentitud }}</p>
                            <p> <strong> {% trans %} Amplitud: {% endtrans %} </strong> {{ video.amplitud }}</p>
                            <p> <strong> {% trans %} Velocidad media: {% endtrans %} </strong> {{ video.velocidad_media }}</p>
                            <p> <strong> {% trans %} Frecuencia de máximos: {% endtrans %} </strong> {{ video.frecuencia_max }}</p>
                            <p> <strong> {% trans %} Frecuencia de mínimos: {% endtrans %} </strong> {{ video.frecuencia_min }}</p>
                            <p> <strong> {% trans %} Promedio de máximos: {% endtrans %} </strong> {{ video.promedio_max }}</p>
                            <p> <strong> {% trans %} Desviación estándar de máximos: {% endtrans %} </strong> {{ video.desv_estandar_max }}</p>
                            <p> <strong> {% trans %} Diferencia ranurada de la frecuencia de mínimos: {% endtrans %} </strong> {{ video.diferencia_ranurada_min }}</p>
                            <p> <strong> {% trans %} Diferencia ranurada de la frecuencia de máximos: {% endtrans %} </strong> {{ video.diferencia_ranurada_max }}</p>
                        </div>

                        <!--Eliminar vídeo-->
                        <button type="button" class="btn-eliminar" onclick="eliminarVideo('{{ video.id_video }}')">{% trans %} Eliminar vídeo {% endtrans %}</button>
                    </div>
                    <br>
                {% endfor %}

            <!--Si ese paciente no tiene videos-->
            {% else %}
                <p>{% trans %} No hay vídeos disponibles para mostrar. {% endtrans %}</p>
            {% endif %}
        </div>
        
    </div>
</div>

<script>
    //Cuando le den al botón de reproducir se mostrará el vídeo
    document.querySelectorAll('.reproducir').forEach(button => {
        button.addEventListener('click', function() {
            const reproduccion = this.parentElement.querySelector('.video');
            reproduccion.style.display = 'block'; //Mostrar
            this.style.display = 'none'; //Ocultar el botón después de hacer clic
        });
    });

    //Cuando le den al botón de ocultar se dejará de mostrar el vídeo
    document.querySelectorAll('.ocultar').forEach(button => {
        button.addEventListener('click', function() {
            const contenedor = this.parentElement;
            const reproduccion = contenedor.querySelector('video');
            reproduccion.pause(); //Pausar el video si está reproduciéndose
            contenedor.style.display = 'none'; //Ocultar
            contenedor.parentElement.querySelector('.reproducir').style.display = 'block'; //Mostrar el botón "Reproducir vídeo"
        });
    });

    //Cuando le den al botón de mostrar características se mostrarán
    document.querySelectorAll('.mostrarCaracteristicas').forEach(button => {
        button.addEventListener('click', function() {
            var caracteristicas = this.parentElement.querySelector('.caracteristicas');
            //Si estaba oculto, lo pone visible y viceversa
            if (caracteristicas.style.display === 'none') {
                caracteristicas.style.display = 'block';
            } else {
                caracteristicas.style.display = 'none';
            }
        });
    });


    //Cuando le den al botón de eliminar vídeo de la bbdd
    function eliminarVideo(id_video) {
        if (confirm('¿Estás seguro de que deseas eliminar este vídeo?')) {
            fetch('/eliminarVideo', {
                method: 'POST',
                headers: {'Content-Type': 'application/json' },
                body: JSON.stringify({ id_video: id_video })
            })
            .then(response => {
                if (response.ok) {
                    //Funcionó
                    alert('Vídeo eliminado con éxito');
                    //Recargar la página
                    setTimeout(function(){ location.reload(); }, 1000);
                } else {
                    alert('Error al eliminar el vídeo');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al eliminar el vídeo');
            });
        }
    }
</script>



{% endblock %}
